<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<base href="<TMPL_VAR BASEURL>" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><TMPL_VAR FORM-TITLE></title>
<link rel="stylesheet" href="<TMPL_VAR BASEURL>style.css" type="text/css" />
<link rel="stylesheet" href="<TMPL_VAR BASEURL>local.css" type="text/css" />
<TMPL_IF NAME="FAVICON">
<link rel="icon" href="<TMPL_VAR BASEURL><TMPL_VAR FAVICON>" type="image/x-icon" />
</TMPL_IF>
</head>
<body>
<TMPL_IF NAME="PAGE_CONFLICT">
<p>
<b>Your changes conflict with other changes made to the page.</b>
</p>
<p>
Conflict markers have been inserted into the page content. Reconcile the
conflict and commit again to save your changes.
</p>
</TMPL_IF>
<TMPL_IF NAME="FAILED_SAVE">
<p>
<b>Failed to save your changes.</b>
</p>
<p>
Your changes were not able to be saved to disk. The system gave the error:
<blockquote>
<TMPL_VAR ERROR_MESSAGE>
</blockquote>
Your changes are preserved below, and you can try again to save them.
</p>
</TMPL_IF>
<TMPL_IF NAME="PAGE_GONE">
<p>
<b>The page you were editing has disappeared.</b>
</p>
<p>
Perhaps someone else has deleted it or moved it. If you want to recreate
this page with your text, click "Save Page" again.
</p>
</TMPL_IF>
<TMPL_IF NAME="CREATION_CONFLICT">
<p>
<b>While you were creating this page, someone else independently created a page
with the same name.</b>
</p>
<p>
The edit box below contains the page's current content, followed by the
content you entered previously, to allow you to merge the two
together before saving.
</p>
</TMPL_IF>
<TMPL_VAR FORM-START>
<div class="header">
<span><TMPL_VAR INDEXLINK>/ <TMPL_VAR FORM-TITLE></span>
</div>
<TMPL_VAR FIELD-DO>
<TMPL_VAR FIELD-SID>
<TMPL_VAR FIELD-FROM>
<TMPL_VAR FIELD-RCSINFO>
<TMPL_VAR FIELD-NEWFILE>
<TMPL_IF NAME="PAGE_SELECT">
Page location: <TMPL_VAR FIELD-PAGE>
Page type: <TMPL_VAR FIELD-TYPE>
<TMPL_ELSE>
<br />
<TMPL_VAR FIELD-PAGE>
<TMPL_VAR FIELD-TYPE>
</TMPL_IF>
<TMPL_VAR FIELD-EDITCONTENT><br />
<TMPL_IF NAME="CAN_COMMIT">
Comment about this change (required):<br />
<TMPL_VAR FIELD-COMMENTS><br />
</TMPL_IF>
<input id="_submit" name="_submit" type="submit" value="Save Page" /><input id="_submit_2" name="_submit" type="submit" value="Preview" /><input id="_submit_3" name="_submit" type="submit" value="Cancel" />
<TMPL_VAR HELPONFORMATTINGLINK>
<TMPL_VAR FORM-END>
<TMPL_IF NAME="PAGE_PREVIEW">
<hr />
<div class="header">
<span>Page preview:</span>
</div>
<div id="content">
<TMPL_VAR PAGE_PREVIEW>
</div>
</TMPL_IF>
<div id="footer">
<!-- from <TMPL_VAR NAME=WIKINAME> -->
</div>
</body>
</html>
